.toastContent {
  padding: var(--unit-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

  button{
    background:none;
    border:none;
    color:inherit;
    font-size:1rem;
    cursor: pointer;
  }  
}