.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--secondary-color);
  border: solid var(--neutral-color);
  border-bottom-left-radius: var(--unit-1); 
  border-bottom-right-radius: var(--unit-1);
}

.btns{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.profile{
  margin: 0 2rem;
  display: flex;
  gap: var(--unit-1);
  justify-content: end;
  align-items: center;
  & h3{
    text-decoration-line: underline;
    text-underline-offset: 2px;
  }
  
}