/* Open state of the dialog  */
.dialog {
  dialog:open {
    border: solid var(--neutral-color);
    opacity: 1;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 55vh;
    max-height: 90vh;
    border-radius: var(--unit-1);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    & .header{
      background-color: var(--secondary-color);
      display: flex;
      justify-content: center;
      text-transform: capitalize;
      padding: var(--unit-2) var(--unit-4); 
      color: var(--neutral-color);
    }
    & .body{
      background-color: var(--neutral-color);
      flex: 1 1 auto;
      overflow-y: auto;
      padding: var(--unit-1) var(--unit-1);
      display: flex;
      flex-direction: column;
    }
    & .footer{
      flex-shrink: 0;
      display: flex;
      justify-content: end;
      flex-wrap: wrap;
      padding: var(--unit-1) var(--unit-4); 
      background-color: var(--secondary-color);
      gap: var(--unit-2);
      button{
        font-size: medium;
        padding: var(--unit-1) var(--unit-2);
      }
    }
    dialog {
      opacity: 0;
      transform: scaleY(0);
      transition:
        overlay 0.7s ease-out allow-discrete,
        display 0.7s ease-out allow-discrete;
    }
  }
  dialog::backdrop {
    background-color: transparent;
    transition:
      display 0.7s allow-discrete,
      overlay 0.7s allow-discrete,
      background-color 0.7s;
  }

  dialog:open::backdrop {
    background-color: rgb(0 0 0 / 25%);
  }
}