.toasts{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  >.toast {
    text-align: center;
    border-radius: var(--unit-1);
    padding: var(--unit-2);
    flex: none;
    min-width: 15rem;
    width: fit-content;
    pointer-events: all;
    overflow: hidden;
    &.warning{
      background-color: rgb(214, 106, 5);
    }
    &.success{
      background-color: rgb(25, 192, 33);
    }
    &.error{
      background-color: rgb(212, 66, 47);
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      background: rgb(42, 42, 152);
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
    }  
  }
}
