.input {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--unit-3);
  & input {
    padding: var(--unit-1) 0;
    padding-left: var(--unit-1);
    font-size: medium;
    &:focus {
      outline: none;
    }
    &.search {
      margin-top: .2rem;
      background-color:var(--primary-color);
      padding: 0.3rem;
      color: var(--contrast-color);
      &::placeholder{
        text-transform: capitalize;
      }
    }
  }
}
