.pad-1{
  padding: var(--unit-2);
}
.pad-l-1 {
  padding-left: var(--unit-2);
}
.pad-top-1 {
  padding-top: var(--unit-2);
}
.pad-bottom-1 {
  padding-bottom: var(--unit-2)
}
.pad-2{
  padding: var(--unit-3);
}
.pad-l-2 {
  padding-left: var(--unit-3);
}
.pad-top-2 {
  padding-top: var(--unit-3);
}
.pad-bottom-2 {
  padding-bottom: var(--unit-3);
}
.gap-1{
  gap: var(--unit-1);
}