.content{
  background-color: var(--secondary-color);
  width: 70%;
  border-radius: var(--unit-1);
  text-transform: capitalize;
  padding: var(--unit-4);
  & .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--unit-1) var(--unit-4); //container
  }
  & .body{
    padding: var(--unit-4); 
    text-align: justify;
  }


}